<ns-day-modal></ns-day-modal>
<ns-action-bar title="Current Challenge" [hasChallenge]="currentChallenge">

</ns-action-bar>

  <div class="page">
    <div *ngIf="!currentChallenge">
      <p>No challenge found!</p>
      <button
        class="btn btn-primary"
        RouterLink="/challenges/replace"
      >Create One!</button>
    </div>
    <div *ngIf="currentChallenge">
      <h1 class="h1 text-center">{{ currentChallenge.title }}</h1>
      <p
        class="text-center"
      >{{ currentChallenge.description }}</p>
    </div>
    <div class="grid" *ngIf="currentChallenge">
      <div
        class="text-center week-day-label"
        *ngFor="let weekDay of weekDays; let i = index"
      >{{ weekDay }}</div>
      <div
        *ngFor="let day of currentChallenge.days; let i = index"
        class="day"
        [ngClass]="{
          'not-settable': !getIsSettable(day.dayInMonth),
          completed: day.status === 1,
          failed: day.status === 2
        }"
        (click)="onChangeStatus(day)"
      >
        <span >{{ day.dayInMonth }}</span>
      </div>
    </div>
  </div>

