/* Add mobile styles for the component here.  */

@import "../../../../theme/colors";

.action-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 47px;
    background: $primary;
    box-sizing: border-box;
}

nav {
    height: 100%;
    padding: 0 1rem;
}

ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
    box-sizing: border-box;
     
}

li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: $white;
}

a:hover,
a:active {
    color: lighten($primary, 40);
}

